html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
}
.layout {
    display: grid;
    max-width: 1000px;
    margin: 0 auto;
    grid-template-columns: 20px 1fr 1fr 1fr 1fr 20px;
    grid-template-areas: 
        "h h h h h h"
        "a t t t t b"
        "a l l r r b"
        "a c c c c b"
        "a k1 k2 k3 k4 b";
}
.header {
    display: flex;
    grid-area: h;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    min-height: 280px;
    background-color: #ff5e65;
    color: white;
    font-weight: bold;
}
.header__left-part {
    margin-left: 20px;
    min-width: 200px;
}
.header__color-box {
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border: 5px solid white;
    padding: 10px;
    font-size: 20px;
    line-height: 1.1;
}
.header__large-name {
    font-size: 24px;
}
.header__color-name { 
    margin-left: 15px;
    margin-top: 15px;
    font-size: 32px;
    line-height: 0.9;
}
.header__color-number {
    font-size: 20px;
}
.header__image {
    max-width: 100%;
    min-height: 280px;
    display: block;
}
.main-title {
    grid-area: t;
    font-size: 50px;
    text-align: center;
}

.main-article {
    grid-area: l;
    font-size: 18px;
}
.heading {
    margin: 0;
    font-size: 35px;
}
.main-article__color-name {
    color: #ff5e65;
}
@media (max-width: 570px) {
    .header__image {
        display: none;
    }
    .main-title {
        font-size: 36px;
        text-align: left;
    }
    .heading {
        font-size: 28px;
    }
    .main-article__hidden_mobile {
        display: none;
    }
    .layout {
        grid-template-columns: 20px 1fr 20px;
        grid-template-areas: 
            "h h h"
            "a t b"
            "a l b"
            "a r b"
            "a c  b"
            "a k1 b"
            "a k2 b"
            "a k3 b"
            "a k4 b";
    }
}

/* .main-article__pallets-2019 {
    grid-area: r;
} */