html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
}
.layout {
    display: grid;
    max-width: 1000px;
    margin: 0 auto;
    grid-template-columns: 20px 1fr 1fr 1fr 1fr 20px;
    grid-template-areas: 
        "h h h h h h"
        "a t t t t b"
        "a l l r r b"
        "a c c c c b"
        "a k1 k2 k3 k4 b"
        "a btn btn btn btn b";
}
.header {
    display: flex;
    grid-area: h;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    min-height: 280px;
    background-color: #ff5e65;
    color: white;
    font-weight: bold;
}
.header__left-part {
    margin-left: 20px;
    min-width: 200px;
}
.header__color-box {
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border: 5px solid white;
    padding: 10px;
    font-size: 20px;
    line-height: 1.1;
}
.header__large-name {
    font-size: 24px;
}
.header__color-name { 
    margin-left: 15px;
    margin-top: 15px;
    font-size: 32px;
    line-height: 0.9;
}
.header__color-number {
    font-size: 20px;
}
.header__image {
    max-width: 100%;
    min-height: 280px;
    display: block;
}
.main-title {
    grid-area: t;
    font-size: 50px;
    text-align: center;
}
.main-article {
    grid-area: l;
}
.heading {
    margin: 0;
    font-size: 35px;
}
.main-article__color-name {
    color: #ff5e65;
}
.pallets-2019 {
    grid-area: r;
    padding-left: 30px;
}
.heading_gray {
    color: #b3b7b4;
}
.color-sets {
    border: 5px solid #ff5e65;
    max-width: 350px;
    padding: 15px 30px;
}
.color-set strong {
    color:  #ff5e65;
    text-decoration: underline;
}
.color-set__main-box {
    display: flex;
}
.color-set__box {
    margin: 10px 0;
    margin-right: 5px;
    width: 25px;
    height: 25px;
}
.n11 { background-color: #b3b7b4;}
.n12 { background-color: #244946;}
.n13 { background-color: #6d684f;}
.n14 { background-color: #949740;}
.n15 { background-color: #9f5967;}
.n16 { background-color: #f56b64;}
.n17 { background-color: #a29981;}
.n18 { background-color: #494744;}
.n21 { background-color: #f4899a;}
.n22 { background-color: #dc5281;}
.n23 { background-color: #e07aa4;}
.n24 { background-color: #963f6d;}
.n25 { background-color: #f56b64;}
.n26 { background-color: #f29d37;}
.n27 { background-color: #d27746;}
.n28 { background-color: #f59f6a;}
.n31 { background-color: #f56b64;}
.n32 { background-color: #773934;}
.n33 { background-color: #bb847b;}
.n34 { background-color: #e5a887;}
.n35 { background-color: #e06076;}
.n36 { background-color: #f09f9c;}
.n37 { background-color: #c5a480;}
.n38 { background-color: #d2b798;}
.n41 { background-color: #ceda36;}
.n42 { background-color: #f56b64;}
.n43 { background-color: #7b5695;}
.n44 { background-color: #9a2357;}
.n45 { background-color: #317f9d;}
.n46 { background-color: #226269;}
.n47 { background-color: #3575b3;}
.n48 { background-color: #e56689;}
.n51 { background-color: #2d2e55;}
.n52 { background-color: #304b8c;}
.n53 { background-color: #329196;}
.n54 { background-color: #7d8851;}
.n55 { background-color: #f56b64;}
.n56 { background-color: #d793a9;}
.n57 { background-color: #f7dd41;}
.n58 { background-color: #9ddbdc;}

.title {
    grid-area: c;
}
.subtitle {
    color: #9c9c9c;
    font-size: 24px;
    font-weight: normal;
    margin-top: 10px;
}
.c-desc {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-right: 10px;
}
.c-desc:last-child {
    margin-right: 0;
}
.c-desc_first {
    grid-area: k1;
}
.c-desc_second {
    grid-area: k2;
}
.c-desc_third {
    grid-area: k3;
}
.c-desc_fourth {
    grid-area: k4;
}
.color_circle {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    margin-bottom: 15px;
}
.brown {
    background-color: #5c1922;
}
.white {
    background-color: #f6e4d8;
}
.blue {
    background-color: #1c203b;
}
.yellow {
    background-color: #f3a479;
}

input {
    display: block;
    max-width: 300px;
    width: 70%;
    margin: 20px auto;
    background-color: #ff5e65;
    border: none;
    border-bottom: 5px solid #e0454d;
    color: white;
    font-size: 25px;
    padding: 10px 0;
}
.btn-get-more {
    grid-area: btn;
}
@media (max-width: 700px) {
    .layout {
        grid-template-columns: 20px 1fr 20px;
        grid-template-areas: 
            "h h h"
            "a t b"
            "a l b"
            "r r r"
            "a2 c b2"
            "a2 k1 b2"
            "a2 k2 b2"
            "a2 k3 b2"
            "a2 k4 b2"
            "a2 btn b2";
    }
    .pallets-2019 {
        padding-left: 0;
    }
    .color-set strong,
    .heading_gray {
        margin-left: 20px;
    }
    .color-sets {
        max-width: 100%;
        border: none;
        padding: 0;
    }
    .color-set__box {
        width: 12.5%;
        height: 60px;
        margin: 10px 0;
        padding: 0;
    }
    .c-desc {
        justify-content: space-between;
        align-items: center;
        margin: 0;
        margin-bottom: 20px;
    }
    .c-desc__title {
        width: 70%;
    }
    .color_circle {
        margin: 0;
    }
}

@media (max-width: 570px) {
    body {
        font-size: 16px;
    }
    .header__image {
        display: none;
    }
    .main-title {
        font-size: 36px;
        text-align: left;
    }
    .heading {
        font-size: 28px;
    }
    .subtitle {
        font-size: 20px;
    }
    .main-article__hidden_mobile {
        display: none;
    }
    .color_circle {
        width: 70px;
        height: 70px;
    }
    input {
        font-size: 20px;
    }
    .layout {
        grid-template-columns: 20px 1fr 20px;
        grid-template-areas: 
            "h h h"
            "a t b"
            "a l b"
            "r r r"
            "a2 c  b2"
            "a2 k1 b2"
            "a2 k2 b2"
            "a2 k3 b2"
            "a2 k4 b2"
            "a2 btn b2";
    }
}

/* .main-article__pallets-2019 {
    grid-area: r;
} */